.btn-container {}

.btn-container button {
  position: relative;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 0.1s;
  transition-property: background-color, color, border-color, opacity, box-shadow;
  transition-timing-function: ease-out;
  outline: none;
  border: 1px solid transparent;
  margin: 0px;
  box-shadow: rgb(0 0 0 / 10%) 0px 3px 12px 0px;
  padding: 6px 14px;
  min-height: 40px;
  background-color: rgb(124, 0, 222);
  color: rgb(255, 255, 255);
  border-radius: 4px;
}
